---
layout: layouts/layout.njk
---


<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>

<!-- posts -->
<div class="flex flex-col gap-4">
    <a href="/post" class="text-blue-500 hover:underline">Post 1</a>
    <a href="/post" class="text-blue-500 hover:underline">Post 2</a>
    <a href="/post" class="text-blue-500 hover:underline">Post 3</a>
</div>